main.buySection.background-gr {
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}
.heading-buy {
    height: 25%;
    width: 100%;
    font-size: 2.5em;
    font-family: "Gabarito";
    color: #4D1205;
}
.mainBuyComponent{
    height: 100%;
    flex-direction: column;
}
.buyBlock.flex {
    flex-direction: column;
    width: 20%;
    height: 35%;
}
.componentBuySectionDivs {
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    margin-bottom: 3%;
}
.blobkbuyDiv {
    aspect-ratio: 1 / 1;
    height: 100%;
    flex-direction: column;
    border-radius: 2em;
    background:  rgba(255 255 255 / 50%) ;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
    color: #4D1205;
    font-family: "Gabarito";
}
img.buyImage {
    height: 2em;
}
.buyName {
    font-size: small;
    font-weight: bold;
}
