.container-hc{
    height : 100vh;
    width : 300vw;
    background-color: #D6C0B3;
}

.slider-hc{
    position: relative;
    height : 100%;
    width : 100%;
    font-size: 4.5em;
    font-family: "Aboreto";
    background-image: url("/horizontalBlur.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.horizontalBlurBack{
    position: absolute;
    height: 100%;
    z-index: 1;
}
.text-text-hc{
    color: white;
}